.hero {
  background-color: $colorGreen;
  height: 85vh;
  position: relative;
  &__row{
    display: flex;
  }
  &__row__text {
    align-items: center;
    justify-content: center;
  }
  &__title {
    font-family: "Josefin Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    color: $colorWhite;
    margin: 120px 0 20px;
    width: 85%;
  }
  &__description {
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: $colorWhite;
    width: 85%;
  }
  &__img {
    position: absolute;
    bottom: 0;
  }
}
